@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.highScore__title {
    -fx-font-size: 40;
    -fx-fill: #ffffff;
    -fx-font-family: "Roboto Bold";
}

.highScore__list {
    -fx-background-color: #f4f4f4;
    -fx-border-style: none;
}

.custom-jfx-list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.custom-jfx-list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.custom-jfx-list-view {
    -fx-background-insets: 0.0;
    -fx-background-color: TRANSPARENT;
}

.custom-jfx-list-view .jfx-rippler {
    -jfx-rippler-fill: RED;
}
