@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.gameArea__playButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #009688;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-width: 120;
    -fx-pref-height: 120;
    -fx-background-radius: 60;
}

.gameArea__stopButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #f8422c;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-width: 120;
    -fx-pref-height: 120;
    -fx-background-radius: 60;
}

.gameArea__restartButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #ffd700;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-pref-width: 120;
    -fx-pref-height: 120;
    -fx-background-radius: 60;
}

.gameArea__statsButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #536e7b;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-width: 120;
    -fx-pref-height: 120;
    -fx-background-radius: 60;
}

.gameArea__field {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3e94f5, #3588e4);
    -fx-background-radius: 10;
}

.gameArea__container {
    -fx-alignment: top_center;
    -fx-hgap: 30;
    -fx-vgap: 100;
}

.gameArea__card {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0, 0.0, 1.0);
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

.gameArea__heading {
    -fx-font-size: 35;
    -fx-font-family: "Roboto Bold";
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-padding: 20 0 0 20;
}

.gameArea__description {
    -fx-font-size: 14;
    -fx-fill: #00000080;
    -fx-font-family: "Roboto";
    -fx-padding: 20 20 0 20;
}

.gameArea__displayContainer {
    -fx-alignment: top_center;
    -fx-hgap: 30;
}